.para_text
{
font-family: 'Nunito', sans-serif;
font-size: 18px;
color:black;
}

.para_head
{
font-size: 28px;
    line-height: 38px;
    max-width: 415px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
}